@font-face {
  font-family: skyText;
  src: url("SKYTEXT.TTF");
}

.courses {
  color: black !important;
}

.navRegLog {
  color: white;
  font-size: 1.25em;
  font-family: skyText;
}
.navRegLog:hover {
  text-decoration: underline;
}

.landingText {
  font-size: 5em;
}

.containerImg {
  border-top: 2px solid black;
}
a + a {
  margin-left: 15px;
}

html {
  height: 100%;
}

header,
footer {
  flex: none;
}

ul {
  list-style: none;
  padding-left: 0;
}
footer {
  color: #bbb;
  line-height: 1.5;
  border-top: 2px solid black;
  background-image: linear-gradient(
    to right,
    #ff9e00 0%,
    #f00 25%,
    #b5007d 50%,
    #21429c 75%,
    #0071ff 100%
  );
  border-top: solid rgba(0, 0, 0, 0.1);
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #eee;
}
a:hover {
  text-decoration: underline;
}
.ft-title {
  color: #fff;
  font-family: skyText;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}
/* Sticks footer to bottom */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: white;
  flex-direction: column;
  height: 100%;
}

.container {
  flex: 1;
}
/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 0.5px solid black;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}
ß

/* Footer legal */
.ft-legal {
  border-top: 0.25px solid black;
  padding: 0.9375rem 1.875rem;
  margin: 5px;
  background-image: linear-gradient(
    to right,
    #ff9e00 0%,
    #f00 25%,
    #b5007d 50%,
    #21429c 75%,
    #0071ff 100%
  );
}
.ft-legal-list {
  font-family: skyText;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
  flex: 1;
}

h1,
h2,
h3,
p,
button {
  font-family: skyText;
}

.site_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  background-image: linear-gradient(
    to right,
    #ff9e00 0%,
    #f00 25%,
    #b5007d 50%,
    #21429c 75%,
    #0071ff 100%
  );
}

.header_logo {
  width: 60px;
  margin: 10px;
}

.logInNav {
  margin-right: 10px;
}

* {
  margin: initial;
}

.buttonContainer {
  display: flex;
  align-content: center;
  justify-content: center;
}

#loginBtn,
#registerBtn,
#contactBtn,
#aboutBtn {
  display: inline;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: center;
  max-width: 700px;
  margin: 20px auto;
  background: #ffc008;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.buttons:hover {
  background: #f2ac34;
  text-decoration: none;
}

.chatBtn {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.chatButton {
  bottom: 25%;
  cursor: pointer;
  margin-top: auto;
  margin: 20px;
  background-color: rgb(0, 15, 245);
  border-radius: 20px;
  color: white;
  font-size: 1.25em;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.chatButton:hover {
  background-color: rgb(0, 12, 196);
}

.chatPopup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.formContainer {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.formContainer textarea {
  width: 100%;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

.formContainer textarea:focus {
  background-color: #ddd;
  outline: none;
}
.formContainer .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

.formContainer .cancel {
  background-color: red;
}

.formContainer .sendBtn {
  background-color: green;
}

.formContainer .buttons:hover,
.openButton:hover {
  opacity: 1;
}

.flexContainer {
  display: flex;
}

.flexChild {
  flex: 1;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login,
.register {
  height: 100dvh;
}

#dashBtn {
  display: inline;
}
.landingImg {
  image-rendering: pixelated;
  width: 100%;
  height: 500px;
  margin: auto;
}

.containerImg {
  width: 100%;
  height: 500px;
  margin: auto;
  margin-top: 15px;
  width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  color: white;
}

.one {
  width: 40%;
  height: 600px;
  float: left;
  padding-left: 50px;
}

.two {
  margin-left: 15%;
  height: 600px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.topnav {
  background-color: white;
  margin: 5px;
  text-align: center;
  font-size: 1em;
  font-family: skyText;
}

.parentFlex {
  display: flex;
  font-family: arial, sans-serif;
}

.item {
  width: 50%;
  padding: 2em;
  color: #ffffff;
  background: #eeeeee;
  min-height: 500px;
}

.last {
  color: #222;
  background: #ccc;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .parentFlex {
    flex-direction: column-reverse;
  }

  .item {
    width: auto;
    min-height: 200px;
  }

  .last {
    background: #aa0000;
  }
}

.learningHomeImg {
  width: 600px;
}
/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 50px;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
}
.cards-container-about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-bottom: 50px;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card:nth-child(7) {
  grid-column: 2;
}

.card_img {
  width: 200px;
  margin: 10px;
}
.card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card h2 {
  margin: 10px 0;
}

.coursesMainHead {
  text-align: center;
  font-family: skyText;
  font-size: 3em;
  padding: 20px;
}

.HomeIntro {
  text-align: center;
  font-family: skyText;
}

/* css code for about us page */

.team-member {
  text-align: center;
  margin: 2rem auto;
  max-width: 300px;
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.team-member h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.team-member p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}

#main {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  font-size: 50px;
  display: block;
  margin-bottom: 10px;
  padding-right: 12px;
  animation: moveUpDown 1s alternate infinite;
}

@keyframes moveUpDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

.fofbtn {
  color: white;
}
