@font-face {
  font-family: skyText;
  src: url("SKYTEXT.TTF");
}

h1, h2, h3, p, button {
  font-family: skyText;
}

.site_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 10px solid black;
}

img{
  width: 60px;
  margin: 20px;
}

#logInNav{
  margin-right: 10px;
}

.footer {
  border-top: 10px solid black;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: initial;
}

.buttonContainer {
  display: flex;
  align-content: center;
  justify-content: center;
}

#loginBtn, #registerBtn, #contactBtn, #aboutBtn{
  display: inline;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: center;
  max-width: 700px;
  margin: 20px auto;
  background: #ffc008;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.buttons:hover {
  background: #f2ac34;
  text-decoration: none;
}

.chatBtn {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.openButton {
  bottom: 110px;
  cursor: pointer;
  position: fixed;
  margin-top: auto;
  margin: 20px;
  background: #ffc008;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.chatPopup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.formContainer {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.formContainer textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

.formContainer textarea:focus {
  background-color: #ddd;
  outline: none;
}
.formContainer .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

.formContainer .cancel {
  background-color: red;
}

.formContainer .sendBtn {
  background-color: green;
}

.formContainer .buttons:hover,
.openButton:hover {
  opacity: 1;
}

.flexContainer {
  display: flex;
}

.flexChild {
  flex: 1;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login, .register{
  height: 100dvh;
}

#dashBtn{
  display: inline;
}