{% extends "base.html"%} {% block content %}

<h2 class="coursesMainHead">Meet the Team</h2>

<section class="team-member">
  <img src="/static/MicrosoftTeams-image.png" alt="martin" />
  <h2>Martin Nolan</h2>
  <p>Team Member</p>
  <p>
    Your Agile Sherpa.
    <br />
    With a decade immersed in the tech trenches, Martin doesn't just know Agile
    — he lives it.
  </p>
</section>
<section class="team-member">
  <img src="/static/jemima.png" alt="jemima" style="width: 150px" />
  <h2>Jemima Hsu</h2>
  <p>Team member</p>
  <p>
    Jemima is a developer and Agile appreciator. With a commitment to growth and
    a keen eye for Agile's finesse, I am poised to shine brightly on the
    development horizon.
  </p>
</section>

<section class="team-member">
  <img src="/static/lidia.png" alt="lidia" />
  <h2>Lidia Touileb</h2>
  <p>Team member</p>
  <p>
    On a journey of becoming a competent software developer, adopting an agile
    mindset and applying agile practices to create a better future.
  </p>
</section>
<section class="team-member">
  <img src="/static/Sam.jpg" alt="sam" />
  <h2>Samantha Cargill</h2>
  <p>Team member</p>
  <p>
    Fuelling My Passion for Innovation:
    <br />
    "In the world of software development, I'm the extra sprinkle of agility and
    the secret sauce of enthusiasm that turns every project into a delicious
    success story."
  </p>
</section>
<section class="team-member">
  <img src="/static/kaan.png" alt="kaan" />
  <h2>Kaan Evcimen</h2>
  <p>Team member</p>
  <p>
    I love group work and working agile — with a passion for teamwork and Agile
    methodologies, I thrive in the collaborative dance of group projects.
  </p>
</section>
<section class="team-member">
  <img src="/static/1693212411852.jpg" alt="michael" />
  <h2>Michael Krestas</h2>
  <p>Team member</p>
  <p>
    <span>🚀</span>I'm Michael, an Agile developer dedicated to crafting
    software solutions that adapt and excel in a fast-paced digital landscape.
    My passion lies in collaborating with teams to deliver top-notch, flexible
    products that meet evolving demands.
  </p>
</section>
<section class="team-member">
  <img src="/static/Ben.png" alt="ben" />
  <h2>Benjamin Tossell</h2>
  <p>Team member</p>
  <p>
    I'm Benjamin, a dedicated web designer with a flair for crafting digital
    experiences that leave a lasting impact. My journey into the world of design
    started one week ago, and I've been passionately shaping the online
    landscape ever since.
  </p>
</section>

{% endblock %}
