{% extends "base.html"%} {% block content %}

<h2 class="coursesMainHead">Meet the Team</h2>

<section class="team-member">
  <img src="/static/MicrosoftTeams-image.png" alt="martin" />
  <h2>Martin Nolan</h2>
  <p>Team Member</p>
  <p>
    Your Agile Sherpa.
    <br />
    With a decade immersed in the tech trenches, Martin doesn't just know Agile
    - he lives it.
  </p>
</section>
<section class="team-member">
  <img src="/static/agile.jpg" alt="jemima" />
  <h2>Jemima Hsu</h2>
  <p>Team member</p>
  <p>Developing as a developer, Agile appreciator</p>
</section>
<section class="team-member">
  <img src="/static/agile.jpg" alt="lidia" />
  <h2>Lidia Touileb</h2>
  <p>Team member</p>
  <p>
    On a journey of becoming a competent software developer, adopting an agile
    mindset and applying agile practices to create a better future.
  </p>
</section>
<section class="team-member">
  <img src="/static/agile.jpg" alt="sam" />
  <h2>Samantha Cargill</h2>
  <p>Team member</p>
  <p>
    Fuelling My Passion for Innovation:
    <br />
    Embarking on a Journey to Become a Proficient Software Developer.
  </p>
</section>
<section class="team-member">
  <img src="/static/agile.jpg" alt="kaan" />
  <h2>Kaan Evcimen</h2>
  <p>Team member</p>
  <p>I love group work and working agile</p>
</section>
<section class="team-member">
  <img src="/static/1693212411852.jpg" alt="michael" />
  <h2>Michael Krestas</h2>
  <p>Team member</p>
  <p>
    <span>🚀</span>Agile code crafter on a mission to turn caffeine into clean
    code. With a keyboard as my sword and an IDE as my shield, I navigate the
    realms of software with grace and adaptability.
  </p>
</section>
<section class="team-member">
  <img src="/static/agile.jpg" alt="ben" />
  <h2>Benjamin Tossell</h2>
  <p>Team member</p>
  <p>
    I'm Benjamin, a dedicated web designer with a flair for crafting digital
    experiences that leave a lasting impact. My journey into the world of design
    started 1 week ago, and I've been passionately shaping the online landscape
    ever since.
  </p>
</section>

{% endblock %}
