{% extends "base.html"%} {% block content %}

<h2>Welcome to the About Us page</h2>

<h1>Meet the Team</h1>

<section class="team-member">
  <img src="martin.jpg" alt="martin">
  <h2>Martin Nolan</h2>
  <p>Team Member</p>
  <p>We are team sprints and giggles.</p>
</section>
<section class="team-member">
  <img src="jemima.jpg" alt="jemima">
  <h2>Jemima Hsu</h2>
  <p>Team member</p>
  <p>We are team sprints and giggles.</p>
</section>
<section class="team-member">
  <img src="lidia.jpg" alt="lidia">
  <h2>Lidia Touileb</h2>
  <p>Team member</p>
  <p>We are team sprints and giggles.</p>
</section>
<section class="team-member">
  <img src="sam.jpg" alt="sam">
  <h2>Samantha Cargill</h2>
  <p>Team member</p>
  <p>We are team sprints and giggles.</p>
</section>
<section class="team-member">
  <img src="kaan.jpg" alt="kaan">
  <h2>Kaan Evcimen</h2>
  <p>Team member</p>
  <p>We are team sprints and giggles.</p>
</section>
<section class="team-member">
  <img src="michael.jpg" alt="michael">
  <h2>Michael Krestas</h2>
  <p>Team member</p>
  <p>We are team sprints and giggles.</p>
</section>
<section class="team-member">
  <img src="ben.jpg" alt="ben">
  <h2>Benjamin Tossell</h2>
  <p>Team member</p>
  <p>We are team sprints and giggles.</p>
</section>

{% endblock %}
