{% extends "base.html"%} {% block content %} {% if current_user.is_authenticated
%}

<h2 class="coursesMainHead">Agile Methodologies</h2>


<section class="containerTop" style="border-bottom: 2px solid black;">
  <div class="cards-container">
    <p class="HomeIntro">Course Description - Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
      nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
      pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
      similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
      exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
      assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
      ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
      <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/FQlAEiCb8m0?si=SeqG0VXilqKIxwi7"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  </div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
    <h3 style="margin: 20px;">What is agile methodologies?</h3>
    <p style="margin: 20px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
      nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
      pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
      similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
      exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
      assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
      ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
  </div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px;">Requirements Gathering</h3>
  <div class="cards-container">

    <p style="margin: 20px;">What are requirements - Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
      nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
      pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
      similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
      exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
      assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
      ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
      <img src="/static/ourReq.png" alt="Our Requirements" style="width:40%">
  </div>
  </div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px;">SMART Requirements</h3>
  <div class="cards-container">

    <p style="margin: 20px;">Bullet pointed list - Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
      nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
      pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
      similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
      exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
      assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
      ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
      <iframe width="480" height="270" src="https://www.powtoon.com/embed/c1ueFnwgKZk/" frameborder="0" allowfullscreen></iframe>
  </div>
  </div>
</section>

<section class="containerTop">
  <h3 style="margin: 20px;">MOSCOW Prioritisation</h3>
  <div class="cards-container">

    <p style="margin: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
      nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
      pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
      similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
      exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
      assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
      ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
<img src="/static/initialMoscow.png" alt="Our MOSCOW Prioritisation" style="width:40%">
  </div>
  </div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px;">How did we use MOSCOW?</h3>
  <p style="margin: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
    nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
    pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
    similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
    exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
    assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
    ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
</div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px;">Project Planning & Kanban Board</h3>
  <div class="cards-container">
    <p style="margin: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
      nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
      pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
      similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
      exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
      assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
      ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
<img src="/static/projectPlanning.png" alt="Our Project Plan" style="width:40%">
  </div>
  </div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px;">Sprints & What we would do differently</h3>
  <p style="margin: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
    nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
    pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
    similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
    exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
    assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
    ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
</div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px;">Stakeholders</h3>
  <div class="cards-container">
    <p style="margin: 20px;">What are stakeholders & how did we identify them? - Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
      nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
      pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
      similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
      exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
      assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
      ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
<img src="/static/stakeholders.png" alt="Our Stakeholders" style="width:40%">
  </div>
  </div>
</section>

<section class="containerTop">
  <h3 style="margin: 20px;">User Stories & Wireframes</h3>
  <p style="margin: 20px;">What are these? - Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
    nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
    pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
    similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
    exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
    assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
    ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
</div>
</section>

<section class="containerTop">
  <h3 style="margin: 20px;">Our User Stories & Wireframes</h3>
  <div class="cards-container">
    <img src="/static/userStories.png" alt="Our User Stories" style="width:60%">
<img src="/static/wireframes.png" alt="Our Wireframes" style="width:100%">
  </div>
  </div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px;">External Resources & Quiz</h3>
  <p style="margin: 20px;">What are these? - Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
    nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
    pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
    similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
    exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
    assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
    ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
</div>
</section>

{% endif %} {% endblock %}
