{% extends "base.html"%} {% block content %} {% if current_user.is_authenticated
%}

<h2 class="coursesMainHead">Agile Fundamentals</h2>


<section class="containerTop" style="border-bottom: 2px solid black;">
  <div class="cards-container">
    <p class="HomeIntro">Discover the power of Agile methodologies in our comprehensive course that introduces you to 
      the principles reshaping project management. In this immersive learning experience, you'll gain a solid foundation 
      in Agile practices, exploring iterative development, adaptive planning, and collaborative teamwork. Through a 
      combination of interactive modules, real-world examples, and hands-on exercises, you'll learn to embrace change 
      and deliver value to clients and stakeholders more effectively. Whether you're a project manager, a developer, or 
      anyone involved in product delivery, this course equips you with the skills needed to navigate the ever-evolving 
      landscape of business. Join us now to master the art of Agile and revolutionize the way you approach projects!</p>
      <iframe
      width="560"
      height="315"
      src="https://share.synthesia.io/embeds/videos/9e44c4a6-25ca-4002-b974-24e0db3c52e3"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
    <h3 style="margin: 20px;">What is agile?</h3>
    <div class="cards-container">
    <p style="margin: 20px">“Agile” describes a way of working where self-organising and cross-functional teams can develop 
      evolving solutions which adapt to changing environments, requirements and new learnings and ideas. 
      
      The Agile methodology was formalised in 2001 with the Agile Manifesto. But a lot of the Agile concepts are not new! 
      In fact, most of us have probably applied it in some way when doing high school science projects.  
      <br>
      <br>
      12 principles based on the manifesto were created as a guideline to help development teams follow the agile methodology. 
      These include costumer satisfaction, changing requirments, frequent delivery, regular communication, supporting team members,
      face-to-face communication, measure work progress, development process, good design, measure progress, continue to seek
      results as well as reflecting and adapting frequently.  
      <br>
      <br>
      So, why might we use Agile? As humans, we're used to sticking with rigid structures and linear steps. But in most projects 
      or processes, things are likely to change in ways we didn't consider or know about when we first started. With agile methodology, 
      we emphasise adaptability and incremental improvements to our solution. So, if our business is 
      disrupted by external or internal factors, we're better able to respond. 
      
      </p>
      <img src="/static/manifesto.png" alt="Agile manifesto" style="width:50%">

    </div>
  </div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px;"> Agile Methodologies - Scrum</h3>
  <p style="margin: 20px"> Scrum is scrum is a lightweight framework that helps people, teams, and organizations generate value through 
    adaptive solutions for complex problems. 
    

    </p>
</div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px;">Requirements Gathering</h3>
  <div class="cards-container">

    <p style="margin: 20px;">What are requirements - Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
      nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
      pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
      similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
      exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
      assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
      ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
      <img src="/static/ourReq.png" alt="Our Requirements" style="width:40%">
  </div>
  </div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px;">SMART Requirements</h3>
  <div class="cards-container">

    <p style="margin: 20px;">Bullet pointed list - Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
      nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
      pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
      similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
      exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
      assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
      ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
      <iframe width="480" height="270" src="https://www.powtoon.com/embed/c1ueFnwgKZk/" frameborder="0" allowfullscreen></iframe>
  </div>
  </div>
</section>

<section class="containerTop">
  <h3 style="margin: 20px;">MOSCOW Prioritisation</h3>
  <div class="cards-container">

    <p style="margin: 20px;">Dynamic System Development Method (<b>DSDM</b>) is an agile project method which focuses on the overall project lifecycle. We can use it to help produce 
      quick and efficient results for the organisation. One of <b>DSDM</b> practices is MoSCow.
      <br>
      <br>
      <b>M</b>o<b>S</b><b>C</b>o<b>W</b> is a prioritisation technique used to help comprehend and manage priorities in order to track progress and meet deadlines. The technique can be used for requirements, 
      tasks and user stories. 
      <br>
      The capatilised letters represent the level of priority:
      <br>
      <br>
      <b>M</b>ust have 
      <br>
      <br>
      <b>S</b>hould have
      <br>
      <br>
      <b>C</b>ould have
      <br>
      <br>
      <b>W</b>on't have
      <br>
      </p>
<img src="/static/initialMoscow.png" alt="Our MOSCOW Prioritisation" style="width:40%">
  </div>
  </div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px;">How did we use MOSCOW?</h3>
  <p style="margin: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
    nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
    pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
    similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
    exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
    assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
    ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
</div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px;">Project Planning & Kanban Board</h3>
  <div class="cards-container">
    <p style="margin: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
      nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
      pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
      similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
      exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
      assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
      ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
<img src="/static/projectPlanning.png" alt="Our Project Plan" style="width:40%">
  </div>
  </div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px;">Sprints & What we would do differently</h3>
  <p style="margin: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
    nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
    pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
    similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
    exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
    assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
    ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
</div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px;">Stakeholders</h3>
  <div class="cards-container">
    <p style="margin: 20px;">What are stakeholders & how did we identify them? - Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
      nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
      pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
      similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
      exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
      assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
      ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
<img src="/static/stakeholders.png" alt="Our Stakeholders" style="width:40%">
  </div>
  </div>
</section>

<section class="containerTop">
  <h3 style="margin: 20px;">User Stories & Wireframes</h3>
  <p style="margin: 20px;">What are these? - Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
    nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
    pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
    similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
    exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
    assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
    ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
</div>
</section>

<section class="containerTop">
  <h3 style="margin: 20px;">Our User Stories & Wireframes</h3>
  <div class="cards-container">
    <img src="/static/userStories.png" alt="Our User Stories" style="width:60%">
<img src="/static/wireframes.png" alt="Our Wireframes" style="width:100%">
  </div>
  </div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px;">External Resources & Quiz</h3>
  <h4>Test your knowledge with our quiz (made on Scratch)!</h4>
  <iframe src="https://scratch.mit.edu/projects/885088853/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>
  <p style="margin: 20px;">Instructions for Scratch quiz:
    <br>
    <ul>
      <li>Wait for the embedded frame to load. You should see the quiz after a few seconds.</li>
      <li>Click the green flag to start the game.</li>
      <li>Drag and drop the appropriate answers to the correct places in the sentences. Remember, some are red herrings!</li>
      <li>Click the submit button at the bottom when you are happy with your answers.</li>
      <li>Answers which turn green are in the correct position, answers which turn red are in the wrong place!</li>
    </ul>
  </p>
</div>
</section>

{% endif %} {% endblock %}
