{% extends "base.html"%} {% block content %} {% if current_user.is_authenticated
%}

<h2 class="coursesMainHead">Agile Fundamentals</h2>


<section class="containerTop" style="border-bottom: 2px solid black;">
  <div class="cards-container">
    <p class="HomeIntro">Discover the power of Agile methodologies in our comprehensive course that introduces you to
      the principles reshaping project management. In this immersive learning experience, you'll gain a solid foundation
      in Agile practices, exploring iterative development, adaptive planning, and collaborative teamwork.

      <br>
      <br>
      Through a
      combination of interactive modules, real-world examples, and hands-on exercises, you'll learn to embrace change
      and deliver value to clients and stakeholders more effectively. Whether you're a project manager, a developer, or
      anyone involved in product delivery, this course equips you with the skills needed to navigate the ever-evolving
      landscape of business. Join us now to master the art of Agile and revolutionize the way you approach projects!</p>
    <iframe width="560" height="315" src="https://share.synthesia.io/embeds/videos/9e44c4a6-25ca-4002-b974-24e0db3c52e3"
      title="YouTube video player" frameborder="0"

      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
    
</section>

<section class="containerTop  contentBG" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px; font-size: 1.5rem;">What is Agile?</h3>
  <div class="cards-container">
    <p style="margin: 20px"><b>“Agile”</b> describes a way of working where self-organising and cross-functional teams can
      develop
      evolving solutions which adapt to changing environments, requirements and new learnings and ideas.

      The Agile methodology was formalised in 2001 with the Agile Manifesto. But a lot of the Agile concepts are not
      new!
      In fact, most of us have probably applied it in some way when doing high school science projects.
      <br>
      <br>
      Twelve principles based on the manifesto were created as a guideline to help development teams follow the agile
      methodology.
      These include costumer satisfaction, changing requirments, frequent delivery, regular communication, supporting
      team members,
      face-to-face communication, measure work progress, development process, good design, measure progress, continue to
      seek
      results as well as reflecting and adapting frequently.
      <br>
      <br>
      So, why might we use Agile? As humans, we're used to sticking with rigid structures and linear steps. But in most projects 
      or processes, things are likely to change in ways we didn't consider or know about when we first started. With agile methodology, 
      we emphasise adaptability and incremental improvements to our solution. So, if our business is 
      disrupted by external or internal factors, we're better able to respond. 
      
      </p>
      <img src="/static/manifesto.png" alt="Agile manifesto" style="width:50%">

    </div>

</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px; font-size: 1.5rem;">Scrum</h3>
  <div class="cards-container">
    <p style="margin: 20px"> Scrum is a lightweight framework that helps people, teams, and organizations
      generate value through
      adaptive solutions for complex problems.
      <br>
      <br>
      <span style="font-size:1.2em">Theory</span>
      <br>
      Incremental Delivery: Scrum focuses on delivering value in small, frequent increments. This approach allows teams
      to provide tangible
      results to stakeholders at the end of each sprint, fostering a steady stream of progress.
      <br>
      <br>
      Empiricism: The decisions in Scrum are based on empirical evidence and experience. The team makes informed choices
      by observing and
      measuring their work and its outcomes. This data-driven approach encourages informed decision-making rather than
      relying solely on predictions.
      <br>
      <br>
      Transparency: Openness and visibility are vital in Scrum. The team, stakeholders, and other relevant parties share
      information about
      the work, progress, and challenges. This transparency fosters trust and collaboration among all involved.
      <br>
      <br>
      Inspection: Regularly examining the work, processes, and outcomes is a central aspect of Scrum. This inspection
      helps identify potential
      issues early on, allowing the team to make necessary adjustments and improvements.
      <br>
      <br>
      Adaptation: Scrum embraces change and encourages teams to adapt based on new information. If issues arise or
      circumstances change, the team
      can adjust their plans, processes, and goals to better address the situation.
      <br>
  
      <br>
       <br>
        <br>
  <span style="font-size: 1.2rem;">Artifacts</span> 
    <br>
    
    Product Backlog: This is an ordered list of all the desired features, enhancements, bug fixes, and other work items that provide value to the 
    product. The Product Owner is responsible for maintaining and prioritizing this backlog based on input from stakeholders and the team.
    <br>
     <br>
    Sprint Backlog: For each sprint, the team selects a set of items from the Product Backlog that they commit to completing. The Sprint Backlog 
    outlines the specific tasks and activities required to turn the selected backlog items into a shippable product increment.
    <br>
     <br>
    Increment: At the end of each sprint, the team delivers a potentially shippable product version. This increment includes all the work completed 
    during the sprint, adhering to the Definition of Done (DoD). The increment is a tangible result that adds value to the product and could potentially 
    be released to users.
    <br>
    <br>
     <br>
      <br>
    <span style="font-size: 1.2rem;">Events</span> 
    <br>
    Sprint Planning: At the start of each sprint, the team holds a Sprint Planning meeting to determine which backlog items they will work 
    on during the sprint. The team also defines the goals and objectives for the sprint.
    <br>
     <br>
    Daily Scrum: Also known as the daily stand-up, this is a short daily meeting where the team members synchronize their work. They discuss 
    progress, challenges, and plans for the day. It's an opportunity to foster communication and collaboration.
    <br>
     <br>
    Sprint Review: At the end of each sprint, the team demonstrates the work they've completed to stakeholders. Feedback is collected, and the 
    Product Backlog is adjusted based on this input. The team also reflects on their performance.
    <br>
     <br>
    Sprint Retrospective: This event occurs after the Sprint Review and focuses on the team's process. The team discusses what went well, what 
    could be improved, and formulates action items for refining their processes in the next sprint.
    </p>
    <img src="/static/Scrum.png" alt="Scrum" style="width:75%">
  </div>
  </div>
</section>

<section class="containerTop  contentBG" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px; font-size: 1.5em;">DSDM</h3>
  <div class="cards-container">
  <p style="margin: 20px;"> 
    <span style="font-size: 1.4rem;">What is DSDM?</span>
    <br>
    Dynamic System Development Method (DSDM) is an agile project method which focuses on the overall project lifecycle. We can use it to help 
    produce quick and efficient results for the organisation.  
    <br>
    DSDM has 8 principles: focus on the business needs, develop iteratively, demonstrate control, deliver on time, build incrementally from 
    firm foundations,communicate continuously and clearly, collaborate and never compromise quality. 
    <br>
     <br>
      <br>
      DSDM has eight principles: focus on the business needs, develop iteratively, demonstrate control, deliver on time,
      build incrementally from
      firm foundations,communicate continuously and clearly, collaborate and never compromise quality.
      <br style="margin-bottom: 20px;">
      <br>
      <span style="font-size:1.2em;">Roles and Responsibilities</span>
      <br>
      There are various roles and responsibilities within the DSDM framework. Every role is an important player in DSDM.
      We only discuss the key
      project level and Solution Development Team (SDT) roles here.
      <br>
      <br>
      Business sponsor: senior project level role (AKA the project champion), is responsible for the business case and
      project budget/finance.
      <br>
      <br>
      Business visionary: provides a clear vision, communicates business sponsor's needs, and ensures these are
      represented within the business
      case. Also makes sure the solution adds value to the overall business.
      <br>
      <br>
      Business ambassador: responsible for daily communication between the project and the business. They are the key
      business representative
      within the Solution Development Team (SDT).
      <br>
      <br>
      Project manager: co-ordinates high level management aspects of the project, focuses on managing the working
      environment for the evolving
      solution.
      <br>
      <br>
      Technical coordinator: responsible for authority of the project, ensures project is technically coherent and meets
      agreed standards as well as
      provides the technical vision.
      <br>
      <br>
      Team leader: leads the SDT, ensuring the team works together efficiently to fulfil stated objectives. Also
      involved in planning and co-ordination
      of product delivery.
      <br>
      <br>
      Solution developer: comprehends the business requirements and converts them into a deployable solution.
      <br>
      Solution tester: conducts testing in compliance with the agreed strategy.
      <br>
      <br>
      <span style="font-size:1.2em">DSDM Process</span>
      <br>
      The DSDM process is used to create the project lifecycle. DSDM provides an iterative and incremental approach to
      development and delivery. We primarily
      focus on the most vital business needs, with less crucial features being delivered later.
      <br>
      <br>
      This approach allows business representatives to view the solution
      as it evolves, provide regular feedback and request changes throughout the solution development process.
      <br>
      <br>
      There are two types of products — evolutionary and milestone products. There are various products including the
      feasibility assessment, business case and the
      prioritised requirement list.
    </p>
    <img src="/static/DSDM roles.png" alt="DSDM Roles" style="width:35%">
</div>
</div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px; font-size: 1.5rem;">Requirements Gathering</h3>
  <div class="cards-container">

    <p style="margin: 20px;">Requirements refer to the detailed descriptions of the capabilities, features, functionalities, 
      and qualities that a business solution must possess to meet the needs and goals of the stakeholders. These are usually gathered by a business 
      analyst who must consider the requirements of many business areas. 
       <br>
        <br>
        Business requirements represent the high-level needs and objectives of the 
      organization, describing the larger goals, problems, or opportunities that drive the need for a solution. Stakeholder requirements capture the 
      needs, expectations, and preferences of various stakeholders who will interact with or be affected by the solution. This includes customers, 
      users, local communities, and regulatory bodies.</p>
      <img src="/static/ourReq.png" alt="Our Requirements" style="width:40%">
  </div>
</section>


<section class="containerTop contentBG">
  <h3 style="margin: 20px; font-size: 1.5rem;">MOSCOW Prioritisation</h3>
  <div class="cards-container">

    <p style="margin: 20px;">Dynamic System Development Method (<b>DSDM</b>) is an agile project method which focuses on
      the overall project lifecycle.
      We can use it to help produce quick and efficient results for the organisation. One of <b>DSDM</b> practices is
      MoSCow.
      <br>
      <br>
      <b>M</b>o<b>S</b><b>C</b>o<b>W</b> is a prioritisation technique used to help comprehend and manage priorities in order to track progress and meet 
      deadlines. The technique can be used for requirements and user stories. 
      <br>
      The capitalised letters represent the level of priority:
      <br>
      <br>
      <b>M</b>ust have (Minimum Usable SubseT (MUST) of requirements the project assures to deliver)
      <br>
      <br>
      <b>S</b>hould have (Important but not crucial)
      <br>
      <br>
      <b>C</b>ould have (Advantageous but if left out has minimal impact)
      <br>
      <br>
      <b>W</b>on't have (Will not be delivered in this timeframe)
      <br>


      </p>
          <img src="/static/initialMoscow.png" alt="Our MOSCOW Plan" style="width:40%">
</section>

<section class="containerTop contentBG" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px; font-size: 1.5rem;">How did we use MOSCOW?</h3>

  <p style="margin: 20px;">To demonstrate how MoSCoW is used, we used MoSCoW for this project! Please refer to the image in the top right 
    for our MosCoW prioritisation. Firstly, we discussed and recorded the requirements for the project. We then collated and inserted all 
    of the requirements into an online tool called 'ClickUp', in which we then collectively discussed each requirement and its level of 
    prioritisation of being either a must have, should have, could have as well as won't have at present. 
     <br>
      <br>Upon successfully allocating each 
    requirements priority level, we then started working on the 'must have' requirements column, with specific requirements being assigned to 
    each team member(s) accompanied with a due date for when that particular project requirement is expected to be completed.</p>
</div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px; font-size: 1.5em;">Project Planning & Kanban Board</h3>
  <div class="cards-container">
    <p style="margin: 20px;">
      <span style = "font-size: 1.2em;">Project planning</span>
      <br>
      <br>

       <span style = "font-size: 1.2em;">Kanban Boards</span>
       <br>
        Progress tracking is essential to work more agilely. This guide will explore Kanban
      Boards' methods for monitoring
      progress in an agile environment.
      Derived from the Toyota Production System, Kanban boards are a versatile tool for monitoring progress in agile
      settings. Following these steps:
      <br>
      <br>
      Visualise Workflow: Create columns such as "To Do," "In Progress," "In Test," and "Done."
      <br>
      <br>
      Limit Work in Progress: Focus on tasks you can manage effectively at any given time.
      <br>
      <br>
      Manage Flow: Ensure that work items move through the system without blockages.
      <br>
      <br>
      Measure and Iterate: Continuously assess the flow, making incremental improvements.
      <br>
      <br>
      Explicit Process Policies: Define and communicate how tasks are handled.
      <br>
      <br>
      Improve Collaboratively: Foster a team-wide commitment to improvement.
      <br>
      <br>
      <br>
      <br>
      
      <span style="font-size: 1.2em;">Kanban Principles and Practices:</span>
      <br>
      Principles:
      Start with What You Do Now: Map existing tasks onto the Kanban board.
      Incremental, Evolutionary Change: Implement small changes over time and monitor their effects.
      Respect the Current Process: Acknowledge existing processes, roles, and titles. Evolve them gradually.
      Encourage Acts of Leadership: Every team member can display leadership.
      <br>
      <br>
      Practices:
      Visualise Workflow: Populate the Kanban board with tasks to visually represent your workflow.
      Limit Work in Progress: Focus on completing tasks before moving to new ones to minimise distractions.
      Manage Flow: Ensure a steady flow of tasks through the system, making adjustments as needed.
      Make Process Policies Explicit: Clearly define how tasks are approached and maintain visibility.
      Improve Collaboratively: Enhance processes collectively to maximise the team's efficiency and effectiveness.
      <br>
      <br>
      Kanban Boards offer insightful methods to gauge progress in agile environments and facilitate continuous workflow
      visualisation and improvement.
      Incorporate these tools to elevate your agile practices and keep your projects on track






    </p>
    <img src="/static/projectPlanning.png" alt="Our Project Plan" style="width:75%">
</section>

<section class="containerTop contentBG" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px; font-size: 1.5em;">Sprints & Changes</h3>
  <p style="margin: 20px;">
    <span style="font-size: 1.2em;">Sprints</span>
    <br>
    <br>
    Key points that we learned:
   How to use the MoSCoW prioritisation technique to maximise progress and gains throughout the course of the project
How to visualise workflow with the Kanban board
How to partake in cross-team collaboration and self-organise as a team 
How to apply the course content throughout the bootcamp to the project to produce efficient results
How to work effectively in a scrum team
    <br>
    <br>
However, there are of course things that we would do differently now after completing the project which include:
  <br>
 Plan sprints more efficiently with following the Scrum framework more rigidly
  <br>
Allocate more time on the design wireframes phase of the website
<br>
Allow each team member the opportunity to become the Scrum Master to gain knowledge and experience of what the role entails.


  </p>
  </div>
  </div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px; font-size: 1.5rem;">External Resources & Quiz</h3>
  <h4 style="margin: 20px;">Test your knowledge with our quiz (made on Scratch)!</h4>
  <p style="margin: 20px;">Instructions for Scratch quiz:
    <br>
    <ul style="margin: 20px;">
      <li>Wait for the embedded frame to load. You should see the quiz after a few seconds.</li>
      <li>Click the green flag to start the game.</li>
      <li>Drag and drop the appropriate answers to the correct places in the sentences. Remember, some are red
        herrings!
      </li>
      <li>Click the submit button at the bottom when you are happy with your answers.</li>
      <li>Answers which turn green are in the correct position, answers which turn red are in the wrong place!</li>
    </ul>
  </p>
  <iframe style="margin: 20px;" src="https://scratch.mit.edu/projects/885088853/embed" allowtransparency="true"
    width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>

  </div>
</section>

{% endif %} {% endblock %}