<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Sky Bootcamp Group Project</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/main_styles.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="{{url_for('static', filename='/script.js') }}"></script>
</head>

<body>
  <!-- Clickable logo that redirects to home page-->
  <header class="site_header">
    <a href="/" class="header_logo"><img src="/static/sky_logo.png" alt="Sky UK Logo" /></a>

    <!-- Nav bar for log in functionality -->
    <nav class="nav logInNav">
      {% if  not current_user.is_authenticated %}
        <a href="{{ url_for('login') }}"><button type="button" class="buttons" id="loginBtn">Login</button></a>
        <a href="{{ url_for('register') }}"><button type="button" class="buttons" id="registerBtn">Register</button></a>
      {% endif %}
      {% if current_user.is_authenticated %}
      <div class="flexContainer logInNav">
      <a href="{{ url_for('profile') }}"><button type="button" class="buttons flexChild" id="profileBtn">Profile</button></a> 
        <a href="{{ url_for('logout') }}"><button type="button" class="buttons flexChild" id="logoutbtn">Logout</button></a> 
      </div>
      {% endif %}
    </nav>
  </header>

  <!-- Content from other templates added here -->
  {% block content %} {% endblock %}

  <!-- Chat button that opens pop up below -->
  <div class="chatBtn">
    <button class="openButton" onclick="openForm()">Chat</button>
  </div>

  <!-- Chat popup with message box, submit and close button -->
  <div class="chatPopup" id="chatForm">
    <form action="/" class="formContainer">
      <div class="flexContainer">
        <div class="flexChild">
          <h2>Sky Assist</h2>
        </div>
        <div class="flexChild">
          <button type="button" class="buttons cancel" onclick="closeForm()">
            Close
          </button>
        </div>
      </div>
    </br>

      <label for="msg"><b>Needing help?</b></label>
      <textarea placeholder="Type your message here..." name="msg" required></textarea>
      <button type="submit" class="buttons sendBtn">Send</button>
    </form>
  </div>

  <!-- Footer with contact us, about us page etc -->
  <div class="footer">
    <p>Footer</p>
    <a href="{{ url_for('about') }}"><button type="button" class="buttons" id="aboutBtn">About Us</button></a>
    <a href="{{ url_for('contact') }}"><button type="button" class="buttons" id="contactBtn">Contact Us</button></a>
  </div>
</body>

</html>