<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sky Bootcamp Group Project</title>
    <meta name="description" content="" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='/main_styles.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <script src="{{ url_for('static', filename='/script.js') }}"></script>
  </head>

  <body>
    <!-- Header -->
    <header class="site_header">
      <a href="/" class="header_logo">
        <img
          src="/static/whiteLogo.png"
          alt="Sky UK Logo"
          class="header_logo"
        />
      </a>

      <!-- Navigation bar -->
      <nav class="nav logInNav">
        {% if not current_user.is_authenticated %}
        <a href="{{ url_for('login') }}" class="navRegLog">Login</a>
        <a href="{{ url_for('register') }}" class="navRegLog">Register</a>
        {% endif %} {% if current_user.is_authenticated %}
        <div class="flexContainer logInNav">
          <a href="{{ url_for('dashboard') }}" class="navRegLog">Dashboard</a>
          <a href="404.html" class="navRegLog">Profile</a>
          <a href="{{ url_for('logout') }}" class="navRegLog">Logout</a>
        </div>
        {% endif %}
      </nav>
    </header>

    <!-- Content from other templates -->
    {% block content %} {% endblock %}

    <!-- Footer -->
    <div class="footer">
      <footer>
        <!-- Footer main -->
        <section class="ft-main">
          <div class="ft-main-item">
            <h2 class="ft-title">About</h2>
            <ul>
              <li><a href="{{ url_for('about') }}">About Us</a></li>
              <li><a href="404.html">Reviews</a></li>
            </ul>
          </div>
          <div class="ft-main-item">
            <h2 class="ft-title">Resources</h2>
            <ul>
              <li><a href="404.html">Site Map</a></li>
              <li><a href="404.html">Blog</a></li>
            </ul>
          </div>
          <div class="ft-main-item">
            <h2 class="ft-title">Help & Contact</h2>
            <ul>
              <li><a href="{{ url_for('test') }}">Testing</a></li>
              <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
            </ul>
          </div>
        </section>

        <!-- Footer legal -->
        <section class="ft-legal">
          <ul class="ft-legal-list">
            <li><a href="404.html">Terms &amp; Conditions</a></li>
            <li><a href="{{ url_for('privacy') }}">Privacy Policy</a></li>
            <li>&copy; 2023 Copyright Sky Tech Bootcamp Group 1</li>
          </ul>
        </section>
      </footer>
    </div>
  </body>
</html>
