{% extends "base.html"%} {% block content %} {% if current_user.is_authenticated
%}
<h2 class="coursesMainHead">Business Analysis</h2>


<section class="containerTop" style="border-bottom: 2px solid black;">
  <div class="cards-container">
    <p class="HomeIntro">Unlock the gateway to effective project communication and decision-making with our Business Analysis fundamentals course. This in-depth curriculum is tailored to empower aspiring and seasoned professionals alike with the knowledge and techniques needed to bridge the gap between business needs and technical solutions. Immerse yourself in the world of requirements elicitation, analysis, and documentation, gaining the skills to create comprehensive project plans and ensure successful project outcomes. Through real-world case studies and interactive lessons, you'll learn to facilitate communication between stakeholders, extract crucial information, and drive business growth through informed decision-making.</p>
  <iframe
  width="560"
  height="315"
  src="https://share.synthesia.io/embeds/videos/6a5d1dca-93b7-4f27-889f-053b411a2781"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen
></iframe>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
    <h3 style="margin: 20px;"><strong>What is Business Analysis?</strong></h3>
    <p style="margin: 20px">Business analysis is the practice of identifying business needs and finding solutions to business problems. It involves understanding the structure, processes, policies, and strategies of an organization and using that knowledge to recommend processes or organizational improvements to achieve strategic goals. A business analyst has responsibility for many tasks including:</p>
    <p style="margin: 20px">
    <ul style="margin: 20px">
        <li>
            <strong>Requirements Gathering</strong><br>
            Business analysts work closely with stakeholders to elicit, document, and analyze their requirements. This involves understanding the needs and expectations of various stakeholders, including customers, users, and internal teams.
        </li>
        <br>
        <li>
            <strong>Process Analysis</strong><br>
            Business analysts examine current business processes to identify inefficiencies, bottlenecks, and areas for improvement. They map out workflows, analyze data flows, and identify opportunities to optimize processes.
        </li>
        <br>
        <li>
            <strong>Solution Design</strong><br>
            Based on the gathered requirements and process analysis, business analysts collaborate with other teams to design solutions that address the identified needs. This may involve suggesting changes to existing processes, developing new software applications, or implementing new technologies.
        </li>
        <br>
        <li>
            <strong>Stakeholder Communication</strong><br>
            Effective communication is crucial in business analysis. Business analysts act as intermediaries between technical teams and non-technical stakeholders. They ensure that everyone involved has a clear understanding of the project's goals, progress, and outcomes.
        </li>
    </ul>
  </p>
  <br>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px;">Problem to Solution</h3>
  <div class="cards-container">
    <p style="margin: 20px;">In general, we need to identify the problem area, investigate the context / criteria / scope, access the options, decide on a solution, and initiate the project. The diagram below shows the flow of the business change assessment from identifying the problem to beginning to build the solution. 
      From the outset, projects must have a clear definition to avoid issues arising such as poor planning and budgeting, lack of commitment, and poor communication between stakeholders. It is because of this that we create a term of reference.  
      After discussing the project brief and identifying the problem area, we set out a project objective so that we all had a clear understanding of the solution we were trying to build. This objective can be seen below </p>
      <img src="/static/businessObj.png" alt="BA Objectives" style="width:40%">
      <em style="margin: 20px;">We are going to do this by creating a learning platform website that will take users through multiple courses covering agile, scrum, business analysis, web development, and python development. In these courses, we will use our analysis, requirements, design, and implementation created for this project as examples of the website to explain our thinking and decision making throughout this project. </em>
  </div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px;">Terms of Reference</h3>
  <div class="cards-container">
    <p style="margin: 20px;">In general, we need to identify the problem area, investigate the context / criteria / scope, access the options, decide on a solution, and initiate the project. The diagram below shows the flow of the business change assessment from identifying the problem to beginning to build the solution. 
      From the outset, projects must have a clear definition to avoid issues arising such as poor planning and budgeting, lack of commitment, and poor communication between stakeholders. It is because of this that we create a term of reference.  
      After discussing the project brief and identifying the problem area, we set out a project objective so that we all had a clear understanding of the solution we were trying to build. This objective can be seen below </p>
      <img src="/static/businessObj.png" alt="BA Objectives" style="width:40%">
      <em style="margin: 20px;">We are going to do this by creating a learning platform website that will take users through multiple courses covering agile, scrum, business analysis, web development, and python development. In these courses, we will use our analysis, requirements, design, and implementation created for this project as examples of the website to explain our thinking and decision making throughout this project. </em>
  </div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px;">Requirements Gathering</h3>
  <div class="cards-container">
    <p style="margin: 20px;">What are requirements - Requirements refer to the detailed descriptions of the capabilities, features, functionalities, and qualities that a business solution must possess to meet the needs and goals of the stakeholders. These are usually gathered by a business analyst who must consider the requirements of many business areas. Business requirements represent the high-level needs and objectives of the organization, describing the larger goals, problems, or opportunities that drive the need for a solution. Stakeholder requirements capture the needs, expectations, and preferences of various stakeholders who will interact with or be affected by the solution. This includes customers, users, local communities, and regulatory bodies. </p>
    <img src="/static/ourReq.png" alt="Our Requirements" style="width:40%">
    <p style="margin: 20px;">You must interview stakeholders to build a rapport with the user community, gathering information to understand the area of the business under investigation with the aim of gathering requirements for the project. This is usually done by creating a \‘terms of reference\’ and coverage matrix to help determine the questioning strategy (where to use open and closed questions). This will help you to structure the interview, making sure the most important topics are first and sensitive topics come later in the interview after a rapport has been built.  </p>
  </div>
</section>

<section class="containerTop">
  <h3 style="margin: 20px;">Functional & Non-functional Requirements</h3>
  <div class="cards-container">
    <p style="margin: 20px;">Functional requirements describe the specific functionalities or features that a system must provide. They define the interactions between the system and its users, as well as the system's behavior under different conditions. Functional requirements answer the question, "What should the system do?". These are often summarized as CRUD (Create, Read, Update, & Delete).  </p>
    <img src="/static/ourReq.png" alt="Our Requirements" style="width:40%">
    <p style="margin: 20px;">Non-functional requirements, sometimes referred to as quality attributes or performance attributes, focus on the qualities and constraints that the system should exhibit. These requirements are not directly related to specific functionalities but rather describe how well the system performs those functionalities. Non-functional requirements answer the question, "How should the system perform?" </p>
  </div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px;">Requirement Filtering</h3>
  <div class="cards-container">
    <p style="margin: 20px;">Many problems can arise when gathering requirements as they can be difficult to write in a well-structured way. Some of these issues include:
      Requirements that are not well defined, Ambiguous requirements, Contradiction between requirements, Overlapping or duplicate requirements, Requirements that are not testable.
      To avoid the issues mentioned above, requirements must follow the SMART structure. In doing so, we ensure the requirements are clear, cohesive, understandable, and unambiguous.</p>
      <iframe width="480" height="270" src="https://www.powtoon.com/embed/c1ueFnwgKZk/" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<section class="containerTop">
  <h3 style="margin: 20px;">MOSCOW Prioritisation</h3>
  <div class="cards-container">

    <p style="margin: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
      nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
      pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
      similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
      exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
      assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
      ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
<img src="/static/initialMoscow.png" alt="Our MOSCOW Prioritisation" style="width:40%">
  </div>
  </div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px;">How did we use MOSCOW?</h3>
  <p style="margin: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
    nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
    pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
    similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
    exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
    assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
    ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
</div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px;">Project Planning & Kanban Board</h3>
  <div class="cards-container">
    <p style="margin: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
      nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
      pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
      similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
      exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
      assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
      ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
<img src="/static/projectPlanning.png" alt="Our Project Plan" style="width:40%">
  </div>
  </div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px;">Sprints & What we would do differently</h3>
  <p style="margin: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
    nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
    pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
    similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
    exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
    assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
    ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
</div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px;">Stakeholders</h3>
  <div class="cards-container">
    <p style="margin: 20px;">What are stakeholders & how did we identify them? - Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
      nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
      pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
      similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
      exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
      assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
      ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
<img src="/static/stakeholders.png" alt="Our Stakeholders" style="width:40%">
  </div>
  </div>
</section>

<section class="containerTop">
  <h3 style="margin: 20px;">User Stories & Wireframes</h3>
  <p style="margin: 20px;">What are these? - Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
    nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
    pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
    similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
    exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
    assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
    ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
</div>
</section>

<section class="containerTop">
  <h3 style="margin: 20px;">Our User Stories & Wireframes</h3>
  <div class="cards-container">
    <img src="/static/userStories.png" alt="Our User Stories" style="width:60%">
<img src="/static/wireframes.png" alt="Our Wireframes" style="width:100%">
  </div>
  </div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px;">External Resources & Quiz</h3>
  <p style="margin: 20px;">What are these? - Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
    nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
    pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
    similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
    exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
    assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
    ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
</div>
</section>
{% endif %} {% endblock %}
