{% extends "base.html"%} {% block content %} {% if current_user.is_authenticated
%}
<h2 class="coursesMainHead">Business Analysis</h2>


<section class="containerTop" style="border-bottom: 2px solid black;">
  <div class="cards-container">
    <p class="HomeIntro">Unlock the gateway to effective project communication and decision-making with our Business
      Analysis fundamentals course. This in-depth curriculum is tailored to empower aspiring and seasoned professionals
      alike with the knowledge and techniques needed to bridge the gap between business needs and technical solutions.
      <br>
      <br>
      Enhance your understanding of requirements elicitation, analysis, and documentation, while gaining the skills to
      create comprehensive project plans and ensure successful project outcomes. Through real-world case studies and
      interactive lessons, you'll learn to facilitate communication between stakeholders, extract crucial information,
      and drive business growth through informed decision-making.</p>
    <iframe width="560" height="315" src="https://share.synthesia.io/embeds/videos/6a5d1dca-93b7-4f27-889f-053b411a2781"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
</section>

<section class="containerTop contentBG" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px; font-size: 1.5rem;"><strong>What is Business Analysis?</strong></h3>
  <p style="margin: 20px">Business analysis is the practice of identifying business needs and finding solutions to
    business problems. It involves understanding the structure, processes, policies, and strategies of an organization
   to recommend processes or organizational improvements to achieve strategic goals. A
    business analyst has responsibility for many tasks including:</p>
  <p style="margin: 20px">
    <ul style="margin: 20px">
      <li>
        <strong style="font-size: 1.25rem;">Requirements Gathering</strong><br>
        BAs work closely with stakeholders to elicit, document, and analyze their requirements. This work
        involves understanding the needs and expectations of various stakeholders, including customers, users, and
        internal teams.
      </li>
      <br>
      <li>
        <strong style="font-size: 1.25rem;">Process Analysis</strong><br>
        BAs examine current business processes to identify inefficiencies, bottlenecks, and areas for
        improvement. They map out workflows, analyze data flows, and identify opportunities to optimize processes.
      </li>
      <br>
      <li>
        <strong style="font-size: 1.25rem;">Solution Design</strong><br>
        Based on the gathered requirements and process analysis, BAs collaborate with other teams to
        design solutions that address the identified needs. This work may involve suggesting changes to existing processes,
        developing new software applications, or implementing new technologies.
      </li>
      <br>
      <li>
        <strong style="font-size: 1.25rem;">Stakeholder Communication</strong><br>
        Effective communication is crucial in business analysis. BAs act as intermediaries between
        technical teams and non-technical stakeholders. They ensure that everyone involved has a clear understanding of
        the project goals, progress and outcomes.
      </li>
    </ul>
  </p>
  <br>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px; font-size: 1.5rem;">Problem to Solution</h3>
  <div class="cards-container">
    <p style="margin: 20px;">Designing solutions involves identifying the problem area, investigate the context, criteria and
      scope, access the options, deciding on a solution, and initiating the project. The diagram below shows the flow of the
      business change assessment from identifying the problem to beginning to build the solution.
      <br>
      <br>
      From the outset, projects must have a clear definition to avoid issues arising such as poor planning and
      budgeting, lack of commitment, and poor communication between stakeholders.
      After discussing the project brief and identifying the problem area, a project objective is established so that there is a
        clear understanding of the solution we were trying to build. This objective can be seen below. </p>
    <img src="/static/businessObj.png" alt="BA Objectives">
    <p style="margin: 20px;">We are going to do this by creating a learning platform website that will take users
      through multiple courses covering agile, scrum, business analysis, web development, and python development. In
      this course, we will use our analysis, requirements, design, and implementation created for this project as
      examples of the website to explain our decision-making throughout this project. </p>
  </div>
</section>

<section class="containerTop contentBG" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px; font-size: 1.5rem;">Terms of Reference</h3>
  <div class="cards-container">
    <p style="margin: 20px;">A terms of reference (TOR) is needed to eliminate any misunderstanding between the project’s
      stakeholders, it is important to ensure that any substantial piece of work has terms of reference. In the form of
      a BOSCARD template document, there are seven different sections that need to be observed to achieve project success.
      <br>
      <br>
      The TOR is a crucial step in the planning and evaluation of any project. It is often
      referred to as the “contract” and must be agreed to by all stakeholders. Therefore, we need to understand:
      <br>
      <br>
      What the objectives are and how success is measured?
      <br>
      What the scope of the work is?
      <br>
      What the deliverables are and how they will be reviewed and accepted?
      <br>
      Who else is involved and what are their roles and responsibilities?
    </p>
    <img src="/static/boscard.png" alt="BOSCARD">
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px; font-size: 1.5rem;">Requirements Gathering</h3>
  <div class="cards-container">
    <p style="margin: 20px;">Requirements refer to the detailed descriptions of the
      capabilities, features, functionalities, and qualities that a business solution must possess to meet the needs and
      goals of the stakeholders. These requirements are usually gathered by a BA. Business requirements represent the high-level needs and objectives of the organization,
      describing the larger goals, problems, or opportunities that drive the need for a solution. Stakeholder
      requirements capture the needs, expectations, and preferences of various stakeholders who will interact with or be
      affected by the solution. The requirements cover customers, users, local communities, and regulatory bodies. </p>
    <p style="margin: 20px;">The stakeholders must be interviewed to build a rapport with the user community, gathering
      information to understand the area of the business under investigation. Building a coverage matrix will help to determine the
      questioning strategy (where to use open and closed questions) and will help you to structure the interview,
      ensuring that the most important topics are first and sensitive topics come later in the interview after a rapport
      has been built. </p>
  </div>
</section>

<section class="containerTop contentBG">
  <h3 style="margin: 20px; font-size: 1.5rem;">Functional & Non-functional Requirements</h3>
  <div class="cards-container">
    <p style="margin: 20px;">Functional requirements describe the specific functionalities or features that a system
      must provide. They define the interactions between the system and its users, as well as the system's behavior
      under different conditions. Functional requirements answer the question, "What should the system do?". These are
      often summarized as CRUD (Create, Read, Update, & Delete).
      <br>
      <br>
      Non-functional requirements, sometimes referred to as
      quality or performance
      attributes, focus on the qualities and constraints that the system should exhibit. These requirements are not
      directly related to specific functionalities but rather describe how well the system performs those
      functionalities. Non-functional requirements determine how the should the system perform. </p>
    <img src="/static/ourReq.png" alt="Our Requirements" style="width:70%">
  </div>
</section>

<section class="containerTop contentBG" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px; font-size: 1.5rem;">Requirement Filtering</h3>
  <div class="cards-container">
    <p style="margin: 20px;">Many problems can arise when gathering requirements as they can be difficult to write in a
      well-structured way. Some of these issues include:
      Requirements that are not well-defined, ambiguous, contradictory, overlapping or
      duplicate requirements, and those that are not testable.
      To avoid the issues mentioned above, requirements must follow the SMART structure. In doing so, we ensure the
      requirements are clear, cohesive, understandable, and unambiguous.</p>
    <iframe width="480" height="270" src="https://www.powtoon.com/embed/c1ueFnwgKZk/" frameborder="0"
      allowfullscreen></iframe>
  </div>
</section>

<section class="containerTop">
  <h3 style="margin: 20px; font-size: 1.5rem;">Stakeholders</h3>
  <div class="cards-container">
    <p style="margin: 20px;">Stakeholders are individuals, groups, or entities that have a vested
      interest in the outcome of a business analysis effort. They can influence or are influenced by the
      decisions, actions, and outcomes of a business analysis initiative.

      <br>
      <br>
      Identifying and involving stakeholders is a
      crucial aspect of successful business analysis, as their needs,
      perspectives, and requirements must be considered to ensure that the analysis aligns with business goals
      and objectives. BAs must identify, engage, and manage these stakeholders throughout
      the analysis
      process. Effective communication, collaboration, and understanding of their needs and perspectives are critical to
      ensuring the success of the initiative. </p>
    <img src="/static/stakeholders.png" alt="Our Stakeholders" style="width:70%">
  </div>
  </div>

  <p style="margin: 20px">There are two categories of stakeholders: internal and
    external stakeholders. The distinction between internal and external stakeholders is based on their relationship
    to the organization.
    <br>
    Internal stakeholders are individuals or groups who are directly associated with the organization and have a close
    operational or financial connection to it. They are typically part of the organization's structure and have a
    direct influence on its operations and decisions.
    <br>
    <br>
    External stakeholders are individuals or groups who are not directly employed by the organization but still have a
    vested interest in its activities and outcomes. They can influence or be influenced by the organization's actions,
    and their perspectives need to be considered in decision-making. </p>

  <br>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px; font-size: 1.5rem;">Prioritising Stakeholders</h3>
  <div class="cards-container">
    <p style="margin: 20px;">Prioritizing stakeholders involves identifying and ranking stakeholders based on their
      importance, influence, and impact on a project, initiative, or organization. Effective stakeholder prioritization
      helps ensure that resources and efforts are focused on those stakeholders who have the greatest potential to
      influence the project's success or who are most affected by its outcomes.
      <br>
      <br>
      These priorities can be mapped out using a power-interest grid. This is a visual tool used in project management
      and stakeholder analysis to help classify stakeholders based on their level of power or influence and their level
      of interest in a project or initiative. This matrix is useful for determining how to effectively engage and manage
      stakeholders to ensure the success of a project or decision. </p>
    <img src="/static/stakeholderPrio.png" alt="Our Stakeholder Matrix" style="width:70%">
  </div>
  </div>
</section>

<section class="containerTop contentBG">
  <h3 style="margin: 20px; font-size: 1.5rem;">User Personas, Stories & Wireframes</h3>
  <p style="margin: 20px;">User personas are fictional characters representing different user types. They embody
    characteristics, goals, and behaviors of real users. Personas help teams understand user diversity and design with
    specific users in mind. This promotes user-centered development and tailors solutions to different needs.</p>
  <p style="margin: 20px;">User stories are concise descriptions of features, expressed from the user's perspective.
    Following the format "As a [type of user], I want to [perform an action] so that [achieve a goal]," they capture
    user needs and expectations. These stories guide agile development, ensuring solutions align with user
    requirements.</p>
  <p style="margin: 20px;">Wireframes are visual blueprints of digital interfaces to illustrate layout and structure.
    They provide an early-stage visual guide for designers, developers, and stakeholders. Wireframes focus on
    arrangement and functionality, aiding conceptualization and alignment before detailed design and coding begin.</p>
  </div>
</section>

<section class="containerTop contentBG">
  <h3 style="margin: 20px; font-size: 1.5rem;">Our User Personas, Stories & Wireframes</h3>
    <div class="cards-container">
   <img src="/static/userStories.png" alt="Our User Stories" style="width:60%; padding-left: 100%;">
</div>
    <img src="/static/wireframes.png" alt="Our Wireframes" style="width:70%; padding-left: 15%;">
  </div>
</section>

<section class="containerTop" style="border-bottom: 0.5px solid black;">
  <h3 style="margin: 20px; font-size: 1.5rem;">External Resources & Quiz</h3>
  <h4 style="margin: 20px;">Test your knowledge with our quiz (made on Scratch)!</h4>
  <p style="margin: 20px;">Instructions for Scratch quiz:
    <br>
    <ul style="margin: 20px;">
      <li>Wait for the embedded frame to load. You should see the quiz after a few seconds.</li>
      <li>Click the green flag to start the game.</li>
      <li>Drag and drop the appropriate answers to the correct places in the sentences. Remember, some are red herrings!
      </li>
      <li>Click the submit button at the bottom when you are happy with your answers.</li>
      <li>Answers which turn green are in the correct position, answers which turn red are in the wrong place!</li>
    </ul>
  </p>
  <iframe style="margin: 20px;" src="https://scratch.mit.edu/projects/888311746/embed" allowtransparency="true"
    width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>

  </div>
</section>

{% endif %} {% endblock %}