{% extends "base.html"%} {% block content %} {% if current_user.is_authenticated
%}
<section class="containerTop">
  <h2 class="coursesMainHead">Welcome to your Dashboard, {{ current_user.username }}</h2>
  <div class="cards-container">
    <p class="HomeIntro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
      nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
      pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
      similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
      exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
      assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
      ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
    <img src="/static/learning.jpg" alt="Learning Home Page Logo" class="learningHomeImg ">
  </div>

  </div>
</section>




<section class="containerTop">
  <h2 class="coursesMainHead"
    style="color: white; background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(40,26,128,1) 30%, rgba(40,26,128,1) 74%, rgba(40,26,128,1) 100%);">
    Your Courses</h2>
  <div class="cards-container">

    <a href="{{ url_for('agile') }}" style="text-decoration: none;" class="courses">
      <div class="card">
        <img src="/static/agile.jpg" alt="Agile Course Logo" class="card_img ">
        <h2>Agile Fundamentals</h2>
        <p>Course Description - Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore
          error, nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore
          rerum odit pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis
          fugit aut similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
          exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
          assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam
          necessitatibus ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
      </div>
    </a>

    <a href="{{ url_for('business_analysis') }}" style="text-decoration: none;" class="courses">
      <div class="card">
        <img src="/static/business_analysis.jpg" alt="Business Analysis Logo" class="card_img ">
        <h2>Business Analysis</h2>
        <p>Course Description - Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore
          error, nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore
          rerum odit pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis
          fugit aut similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
          exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
          assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam
          necessitatibus ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
      </div>
    </a>
  </div>
</section>



{% endif %} {% endblock %}