{% extends "base.html"%} {% block content %}
<div class="topnav">
  <span><b>30 days free when you sign up for an annual membership.</b></span>
</div>


<section class="containerTop" style="border-bottom: 5px solid black">
  <div class="containerImg">
    <img src="/static/2222.gif" alt="Header Image" class="landingImg" />
    <div class="centered">
      <h1 class="landingText">Sky Bootcamp Project Team 1</h1>
    </div>
  </div>
</section>


<section class="containerTop">
  <h2 class="coursesMainHead">Who are we?</h2>
  <div class="cards-container">
    <p class="HomeIntro">We are team sprints and giggles! We are a combination of graduates which collaborated together 
      in an agile manner to create a website to demonstrate what we have learned throughout the course of the bootcamp. 
      We have also aimed to demonstrate such knowledge by applying it to the project overall and the website development. </p>
    <img src="/static/learning.jpg" alt="Learning Home Page Logo" class="learningHomeImg ">
  </div>

  </div>
</section>




<section class="containerTop"
  style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(40,26,128,1) 30%, rgba(40,26,128,1) 74%, rgba(40,26,128,1) 100%);">
  <h2 class="coursesMainHead" style="color: white;">Our Courses</h2>
  <div class="cards-container">
    <div class="card">
      <img src="/static/agile.jpg" alt="Agile Course Logo" class="card_img ">
      <h2>Agile Fundamentals</h2>
      <p>Course Description - The agile course aims to provide a comprehensive overview of the agile approach, agile manifesto, 
        agile frameworks and agile processes. 
        The course is recommended for anyone wanting to know about agile and wanting to gain a basic understanding of agile with 
        no pre-existing knowledge on the agile topic.  
        There are multiple choice tests at the end of each section to serve as an indicator of how well you understand agile.  
        </p>
    </div>
    <div class="card">
      <img src="/static/business_analysis.jpg" alt="Business Analysis Logo" class="card_img ">
      <h2>Business Analysis</h2>
      <p>Course Description - This course aims to provide an overview of business analysis, stakeholder analysis, requirement analysis 
        as well as a terms of reference. This course is recommended for anyone wanting to develop an understanding of the role of 
        business analyst within an organisation. There is a multiple choice test available at the end of the course to assess your 
        understanding of the course. 
      </p>
    </div>
  </div>
</section>

<section class="containerTop">
  <h2 class="coursesMainHead">About Us</h2>
  <div class="cards-container-about">
    <div class="card">
      <img src="/static/agile.jpg" alt="Agile Course Logo" class="card_img ">
      <h2>Martin Nolan</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum amet dolore maxime saepe non unde recusandae
        aliquid nulla neque aut repellat rem eius voluptates voluptatum sint, suscipit commodi quae, totam magnam?
        Ducimus hic eaque, eum reiciendis enim quo sunt quibusdam deserunt. Dicta sint delectus quibusdam optio eveniet
        enim voluptates architecto!</p>
    </div>
    <div class="card">
      <img src="/static/agile.jpg" alt="Agile Course Logo" class="card_img ">
      <h2>Jemima Hsu</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum amet dolore maxime saepe non unde recusandae
        aliquid nulla neque aut repellat rem eius voluptates voluptatum sint, suscipit commodi quae, totam magnam?
        Ducimus hic eaque, eum reiciendis enim quo sunt quibusdam deserunt. Dicta sint delectus quibusdam optio eveniet
        enim voluptates architecto!</p>
    </div>
    <div class="card">
      <img src="/static/agile.jpg" alt="Agile Course Logo" class="card_img ">
      <h2>Lidia Touileb</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum amet dolore maxime saepe non unde recusandae
        aliquid nulla neque aut repellat rem eius voluptates voluptatum sint, suscipit commodi quae, totam magnam?
        Ducimus hic eaque, eum reiciendis enim quo sunt quibusdam deserunt. Dicta sint delectus quibusdam optio eveniet
        enim voluptates architecto!</p>
    </div>
    <div class="card">
      <img src="/static/agile.jpg" alt="Agile Course Logo" class="card_img ">
      <h2>Samantha Cargill</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum amet dolore maxime saepe non unde recusandae
        aliquid nulla neque aut repellat rem eius voluptates voluptatum sint, suscipit commodi quae, totam magnam?
        Ducimus hic eaque, eum reiciendis enim quo sunt quibusdam deserunt. Dicta sint delectus quibusdam optio eveniet
        enim voluptates architecto!</p>
    </div>
    <div class="card">
      <img src="/static/agile.jpg" alt="Agile Course Logo" class="card_img ">
      <h2>Kaan Evcimen</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum amet dolore maxime saepe non unde recusandae
        aliquid nulla neque aut repellat rem eius voluptates voluptatum sint, suscipit commodi quae, totam magnam?
        Ducimus hic eaque, eum reiciendis enim quo sunt quibusdam deserunt. Dicta sint delectus quibusdam optio eveniet
        enim voluptates architecto!</p>
    </div>
    <div class="card">
      <img src="/static/agile.jpg" alt="Agile Course Logo" class="card_img ">
      <h2>Michael Krestas</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum amet dolore maxime saepe non unde recusandae
        aliquid nulla neque aut repellat rem eius voluptates voluptatum sint, suscipit commodi quae, totam magnam?
        Ducimus hic eaque, eum reiciendis enim quo sunt quibusdam deserunt. Dicta sint delectus quibusdam optio eveniet
        enim voluptates architecto!</p>
    </div>
    <div class="card">
      <img src="/static/agile.jpg" alt="Agile Course Logo" class="card_img ">
      <h2>Benjamin Tossell</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum amet dolore maxime saepe non unde recusandae
        aliquid nulla neque aut repellat rem eius voluptates voluptatum sint, suscipit commodi quae, totam magnam?
        Ducimus hic eaque, eum reiciendis enim quo sunt quibusdam deserunt. Dicta sint delectus quibusdam optio eveniet
        enim voluptates architecto!</p>
    </div>
  </div>
</section>

<!-- Chat button that opens pop up below -->
<div class="chatBtn">
  <button class="chatButton" onclick="openForm()">Chat</button>
</div>

<!-- Chat popup with message box, submit and close button -->
<div class="chatPopup" id="chatForm">
  <form action="/" class="formContainer">
    <div class="flexContainer">
      <div class="flexChild">
        <h2>Sky Assist</h2>
      </div>
      <div class="flexChild">
        <button type="button" class="buttons cancel" onclick="closeForm()">
          Close
        </button>
      </div>
    </div>
    </br>

    <label for="msg"><b>Needing help?</b></label>
    <textarea placeholder="Type your message here..." name="msg" required></textarea>
    <button type="submit" class="buttons sendBtn">Send</button>
  </form>
</div>
{% endblock %}