{% extends "base.html"%} {% block content %}
<div class="topnav">
  <span><b>30 days free when you sign up for an annual membership.</b></span>
</div>


<section class="containerTop" style="border-bottom: 5px solid black">
  <div class="containerImg">
    <img src="/static/headImg.png" alt="Header Image" class="landingImg" />
    <div class="centered">
      <h1 class="landingText">Sky Bootcamp Project Team 1</h1>
    </div>
  </div>
</section>


<section class="containerTop">
  <h2 class="coursesMainHead">Who are we?</h2>
  <div class="cards-container">
    <p class="HomeIntro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore error,
      nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore rerum odit
      pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit aut
      similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
      exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
      assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam necessitatibus
      ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
    <img src="/static/learning.jpg" alt="Learning Home Page Logo" class="learningHomeImg ">
  </div>

  </div>
</section>




<section class="containerTop"
  style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(40,26,128,1) 30%, rgba(40,26,128,1) 74%, rgba(40,26,128,1) 100%);">
  <h2 class="coursesMainHead" style="color: white;">Our Courses</h2>
  <div class="cards-container">
    <div class="card">
      <img src="/static/agile.jpg" alt="Agile Course Logo" class="card_img ">
      <h2>Agile Fundamentals</h2>
      <p>Course Description - Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore
        error, nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore
        rerum odit pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit
        aut similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
        exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
        assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam
        necessitatibus ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
    </div>
    <div class="card">
      <img src="/static/business_analysis.jpg" alt="Business Analysis Logo" class="card_img ">
      <h2>Business Analysis</h2>
      <p>Course Description - Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, blanditiis adipisci dolore
        error, nesciunt alias tempore non quo vel aliquid perferendis? Possimus, ipsum ad ut beatae nemo iure labore
        rerum odit pariatur, voluptate error quia itaque. Voluptates sed libero labore dolores inventore veritatis fugit
        aut similique rem. Aspernatur quod quia itaque autem fugit iure earum voluptas? Soluta eligendi iure hic
        exercitationem assumenda. Porro nobis incidunt nulla consequatur sint voluptatum praesentium earum provident
        assumenda ea eveniet dolorem accusamus quibusdam amet unde eum cum harum quo, at enim dolores ullam
        necessitatibus ducimus tenetur. Vero quisquam dolorum dicta, provident reiciendis quaerat odit mollitia.</p>
    </div>
  </div>
</section>

<!-- About us section in home page -->
<section class="containerTop">
  <h2 class="coursesMainHead">About Us</h2>
  <div class="cards-container-about">
    <div class="card">
      <img src="/static/MicrosoftTeams-image.png" alt="Agile Course Logo" class="card_img ">
      <h2>Martin Nolan</h2>
      <p>Your Agile Sherpa. With a decade immersed in the tech trenches, Martin doesn't just know Agile - he lives it.</p>

    </div>
    <div class="card">
      <img src="/static/female.png" alt="Agile Course Logo" class="card_img ">
      <h2>Jemima Hsu</h2>
      <p>Developing as a developer, Agile appreciator. With a commitment to growth and a keen eye for Agile's finesse, I am poised to shine brightly on the development horizon</p>
  
    </div>
    <div class="card">
      <img src="/static/female.png" alt="Agile Course Logo" class="card_img ">
      <h2>Lidia Touileb</h2>
      <p>On a journey of becoming a competent software developer, adopting an agile mindset and applying agile practices to create a better future.</p>

    </div>
    <div class="card">
      <img src="/static/female.png" alt="Agile Course Logo" class="card_img ">
      <h2>Samantha Cargill</h2>
      <p>Fuelling My Passion for Innovation: 
        Embarking on a Journey to Become a Proficient Software Developer </p>
   
    </div>
    <div class="card">
      <img src="/static/male.svg" alt="Agile Course Logo" class="card_img ">
      <h2>Kaan Evcimen</h2>
      <p>I love group work and working agile - With a passion for teamwork and Agile methodologies, I thrive in the collaborative dance of group projects.</p>
    </div>
    <div class="card">
      <img src="/static/1693212411852.jpg" alt="Agile Course Logo" class="card_img ">
      <h2>Michael Krestas</h2>
      <p><span>🚀</span>Agile code crafter on a mission to turn caffeine into clean code. With a keyboard as my sword and an IDE as my shield, I navigate the realms of software with grace and adaptability.</p>
    </div>
    <div class="card">
      <img src="/static/male.svg" alt="Agile Course Logo" class="card_img ">
      <h2>Benjamin Tossell</h2>
      <p>I'm Benjamin, a dedicated web designer with a flair for crafting digital experiences that leave a lasting impact. My journey into the world of design started 1 week ago, and I've been passionately shaping the online landscape ever since.</p>
    
    </div>
   
  </div>
</section>

<!-- Chat button that opens pop up below -->
<div class="chatBtn">
  <button class="chatButton" onclick="openForm()">Chat</button>
</div>

<!-- Chat popup with message box, submit and close button -->

<div class="chatPopup" id="chatForm">
  <form action="/" class="formContainer">
    <div class="flexContainer">
      <h2 class="flexChild">Sky Assist</h2>
      <button type="button" class="buttons cancel" onclick="closeForm()">
        Close
      </button>
    </div>
    <label for="msg"><b>Needing help?</b></label>
    <textarea placeholder="Type your message here..." name="msg" required></textarea>
    <button type="submit" class="buttons sendBtn">Send</button>
  </form>
</div>

 <!-- Cookie Modal -->
 <div class="modal-overlay" id="cookieModal">
  <div class="modal">
      <h2 style="margin: 20px;">Cookie Policy</h2>
      <p style="margin: 20px;">We use cookies to improve your experience on our website. By continuing to browse, you agree to our use of cookies.</p>
      <button id="acceptCookies" style="margin: 20px;">Accept Cookies</button>
      <button id="rejectCookies" style="margin: 20px;">Reject Cookies</button>
  </div>
</div>
{% endblock %}