{% extends "base.html"%}

{% block content %}

<section class="containerTop">
  <div style="height:75dvh;">
  <div class="cards-container">
    <img src="/static/login.jpg" alt="Login Image" class="HomeIntro" style="width: 500px;">
    <div class="login">
      <h1>Login</h1>
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        </br>
        {{ form.password }}
        </br>
        {{ form.submit }}
        </br>
      </form>

      <a href="{{ url_for('register') }}">Don't have an account? Sign Up</a>
    </div>
</div>
  </div>

  </div>
</section>

{% endblock %}