{% extends "base.html"%}

{% block content %}

<div class="parentFlex">
  
  <div class="item" style="background: url(/static/register.svg)center center no-repeat"></div>
  
  <div class="item last">
    <div class="register">
      <h1>Register</h1>
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
      </br>
        {{ form.password }}
      </br>
        {{ form.submit}}
      </br>
      </form>
  
<a href="{{ url_for('register') }}">Already got an account? Log In</a>
  </div>
  
</div>

</div>

{% endblock %}